@font-face {
  font-family: "morty";
  src: url(./get_schwifty.ttf);
}
@font-face {
  font-family: "rick";
  src: url(./ONECHUX.ttf);
}
@font-face {
  font-family: "larbin";
  src: url(./Phosb___.ttf);
}
body {
  margin: 20px;
  font-family: "larbin";
}
header {
  position: relative;
  color: rgb(59, 59, 59);
  padding-bottom: 35px;
}
header span {
  
  font-size: 3em;
}
header p {
  display: inline-block;
  float: right;
  margin-top: -138px;
  width: 45%;
  font-size: 1.4em;
  line-height: 32px; 
}
#nb {
  margin-left: 10px;
}
#days {
  font-size: 1.3em;
  color: yellowgreen;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
h1 {
  font-size: 2.8em;
  font-family: "morty";
  color: yellowgreen;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

h3 {
  font-family: "larbin";
  font-size: 1.4em;
  color: yellowgreen;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
article
{
  position: relative;
  max-width: 90%;
  border-bottom: 2px solid black;
}

section
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


article>section>p
{
  display: inline-block;
  width: 20%;
  text-align: center;
}

article>section>p
{
  font-weight: bold;
}

@media screen and (min-width:1200px)
{
  article>section>p
  {
      display: block;
  }
  section
  {
      display:block;
  }
  article
  {
      margin-top: 20px;
      border: none;
      float: left;
  }
  header
  {
      border: none;   
  }

  body>article:nth-child(2), body>article:nth-child(3), body>article:nth-child(4), body>article:nth-child(5), body>article:nth-child(6), body>article:nth-child(7), body>article:nth-child(8)
  {
      margin-left:22px;   
  }
}

